/** urth.css
 * 
 */

/* 
@import url("http://fonts.googleapis.com/css?family=Stoke|Galdeano");
*/

@font-face {
  font-family: 'Galdeano';
  font-style: normal;
  font-weight: 400;
  src: local('Galdeano Regular'), local('Galdeano-Regular'), url(http://themes.googleusercontent.com/static/fonts/galdeano/v3/XWkZhyfrNgo9X-giTt_ZffesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Stoke';
  font-style: normal;
  font-weight: 400;
  src: local('Stoke Regular'), local('Stoke-Regular'), url(http://themes.googleusercontent.com/static/fonts/stoke/v3/mcAVGFXhrm6QD4jAEx84ng.woff) format('woff');
}

body {
    font-family: Galdeano;
}

code {
    color: #163;
    font-family: "Droid Sans Mono", "Bitstream Vera Sans", "Courier New", monospace;
    font-size: 14px;
}

pre code {
    font-size: 15px;
}

pre.prettyprint {
    font-size: 85%;
}

#site-title, #site-description, #entry-title {
    font-family: Stoke;
}

#site-description {
    font-size: 20px;
}

header.page-header {
    margin-bottom: 10px;
}

article.post {
    margin-bottom: 30px;
}

.entry-content {
    font-size: 18px;
}

.comment-content {
    font-size: 16px;
}

.comment-form-comment {
    margin-top: 10px;
}

.widget-title {
    font-size: 24px;
}

.navbar {
    display: none;
}

header.page-header {
    margin-top: 0;
}

aside.widget_search {
    background-color: white;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

blockquote p {
    margin-bottom: 10px;
}
